<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/header.css') }}"
    />
    <title>Header in Page</title>
  </head>
  <body>
    <header class="header">
      <h1>오늘 뭐 먹지?!</h1>
      <div class="menu_div">
        <div>
          <span class="nickname">엄진식</span>
          님
        </div>
        <nav class="menu_nav">
          <ul class="menu_list">
            <li>
              <a href="#"> 맛집 보기 </a>
            </li>
            <li>
              <a href="#"> 맛집 등록하기 </a>
            </li>
            <li>
              <a href="#"> 맛집 랜덤 추천받기 </a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <div>do something</div>
      <div>do something</div>
      <div>do something</div>
      <div>do something</div>
      <div>do something</div>
      <div>do something</div>
      <div>do something</div>
      <div>do something</div>
      <div>do something</div>
      <div>do something</div>
      <div>do something</div>
      <div>do something</div>
      <div>do something</div>
      <div>do something</div>
      <div>do something</div>
      <div>do something</div>
      <div>do something</div>
      <div>do something</div>
      <div>do something</div>
      <div>do something</div>
      <div>do something</div>
      <div>do something</div>
      <div>do something</div>
      <div>do something</div>
      <div>do something</div>
      <div>do something</div>
      <div>do something</div>
      <div>do something</div>
      <div>do something</div>
      <div>do something</div>
      <div>do something</div>
      <div>do something</div>
      <div>do something</div>
      <div>do something</div>
      <div>do something</div>
      <div>do something</div>
      <div>do something</div>
      <div>do something</div>
      <div>do something</div>
      <div>do something</div>
      <div>do something</div>
      <div>do something</div>
      <div>do something</div>
      <div>do something</div>
      <div>do something</div>
      <div>do something</div>
      <div>do something</div>
      <div>do something</div>
      <div>do something</div>
      <div>do something</div>
    </main>
  </body>
</html>
