<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <link
            rel="stylesheet"
            href= "{{ url_for('static',filename='styles/header.css') }}"
    />
    <link
            rel="stylesheet"
            href= "{{ url_for('static',filename='styles/footer.css') }}"
    />

    <style>
        .myupload {
            width: 95%;
            max-width: 400px;

            margin: 100px auto 100px auto;
            padding: 20px;
            box-shadow: 0px 0px 3px 0px gray;

            text-align: center;

        }
        .myupload > button {
            margin-top: 10px;
            text-align: center;
        }

    </style>
    <script>

        function upload_restaurant() {
            let nickname = document.getElementById("nickname").innerText
            let url = $('#url').val()
            let comment = $('#comment').val()

            $.ajax({
                type: 'POST',
                url: '/restaurant/register/upload',
                data: {user_give: nickname, url_give: url, comment_give: comment},
                success: function (response) {
                    alert(response['msg'])
                    window.location.reload()
                }
            })
        }

    </script>
</head>


<body>
    <header class="header">
      <a href="http://localhost:5001">
        <h1>오늘 뭐 먹지?!</h1>
      </a>
      <div class="menu_div">
        <div>
          <span class="nickname" id="nickname">엄진식</span>
          님
        </div>
        <nav class="menu_nav">
          <ul class="menu_list">
            <li>
              <a href="http://localhost:5001/restaurant/"> 맛집 보기 </a>
            </li>
            <li>
              <a href="http://localhost:5001/restaurant/register"> 맛집 등록하기 </a>
            </li>
            <li>
              <a href="#"> 맛집 랜덤 추천받기 </a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
        <div class="myupload">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="url" placeholder="name@example.com">
                <label for="url">URL(네이버 길찾기 주소)</label>
            </div>
            <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" id="comment"
                          style="height: 100px"></textarea>
                <label for="comment">Comments</label>
            </div>
            <button onclick="upload_restaurant()" type="button" class="btn btn-secondary">등록하기</button>

        </div>

    </main>

{#    <footer class="footer">#}
{#        <h2 class="footer_title">오늘 뭐 먹지?!</h2>#}
{#        <p class="footer_copyright">#}
{#            Copyright &copy; 2022.#}
{#            <a href="https://github.com/MyungAe/A-Meal-of-Today">#}
{#                A-Meal-of-Today Team#}
{#            </a>#}
{#            . All right reserved.#}
{#        </p>#}
{#    </footer>#}
</body>
</html>