<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='styles/homepage.css') }}"
    />
    <title>오늘 뭐 먹지?!</title>
  </head>
  <body>
    <header class="header">
      <h1>오늘 뭐 먹지?!</h1>
      <div class="menu_div">
        <div>
          <span class="nickname"></span>
        </div>
        <nav class="menu_nav">
          <ul class="menu_list">
            <li>
              <a href="http://localhost:5000/show/"> 맛집 보기 </a>
            </li>
            <li>
              <a href="http://localhost:5000/upload/"> 맛집 등록하기 </a>
            </li>
            <li>
              <a href="#"> 맛집 랜덤 추천받기 </a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main class="main">
      <section class="main_wrap">
        <div class="main_introduce_service">
          <h2>내 주변의 맛집을 찾아보고 기록하세요.</h2>
          <h2>나만의 맛집 저장소, 오늘 뭐 먹지?!</h2>
        </div>
        <button onclick="window.location.href='http://localhost:5000/signin/'">맛집 찾아보기</button>
      </section>
      <img
        src="https://cdn.pixabay.com/photo/2018/06/29/08/15/doodle-3505459__340.png"
        alt="foods image"
      />
    </main>
    <footer class="footer">
        <h2 class="footer_title">오늘 뭐 먹지?!</h2>
        <p class="footer_copyright">
          Copyright &copy; 2022.
        <a href="https://github.com/MyungAe/A-Meal-of-Today">
          A-Meal-of-Today Team
        </a>
        . All right reserved.
      </p>
    </footer>
  </body>
</html>
