/* 폰트 설정 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

body {
  font-family: 'Noto Sans KR', sans-serif;
}

/* 브라우저 기본 스타일 제거 */
body,
ul,
h1,
h2 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

/* 개발 편의 스타일 */

.footer {
  color: white;
  background-color: black;
}

a {
  color: blueviolet;
}

/* 스타일 설정 */

body {
  width: 100vw;
  height: 100vh;
}

.footer {
  position: sticky;
  bottom: 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer_title {
  font-size: 28px;
}

.footer_copyright {
  font-size: 20px;
}
