/* 폰트 설정 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

body {
  font-family: 'Noto Sans KR', sans-serif;
}

/* 브라우저 기본 스타일 제거 */
body,
ul,
h1 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

/* 개발 편의 스타일 */

.header {
  color: white;
  background-color: black;
}

a {
  color: blueviolet;
}

/* 스타일 설정 */

body {
  width: 100vw;
  height: 100vh;
}

.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;

  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

.menu_div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: inherit;
  font-size: 20px;
}

.menu_nav {
  margin-left: 30px;
}

.menu_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu_list > li {
  height: inherit;
  margin: 0 30px;
}
