/* 브라우저 기본 스타일 제거 */
body,
ul,
h1 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* 스타일 설정 */

body {
  width: 100vw;
  height: 100vh;
  background-color: #faf4e2;
  color: #1c773e;
}

a {
  color: #1c773e;
}

main {
  padding-top: 5%;
}

.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px;
}

.header_title {
  font-size: 40px;
  font-weight: bold;
}

.menu_div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: inherit;
  font-size: 20px;
}

.menu_nav {
  margin-left: 30px;
}

.menu_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu_list > li {
  height: inherit;
  margin: 0 30px;
  font-size: 28px;
}

.nickname {
  font-size: 28px;
  color: #f0816c;
}
