/* Import Component CSS */
@import '../styles/header.css';
@import '../styles/footer.css';

@import url('https://fonts.googleapis.com/css2?family=Jua&family=Noto+Sans+KR:wght@400;700&display=swap');

/* remove browser style */
p,
button {
  margin: 0;
  border: 0;
  padding: 0;
}

button {
  color: black;
  background-color: white;
}

/* style for developer */

/* page style */
/* 
  size guide
  1. main target : 1920 x 1080
  2. sub target : 1536 x 864
*/
body {
  width: 100vw;
  height: 100vh;
  font-family: 'Jua', sans-serif;
}

.select_wrap {
  width: inherit;
  height: 84vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.select_explain > p {
  font-size: 32px;
  margin-bottom: 20px;
}

.custom_card_wrap {
  min-width: 500px;
  min-height: 300px;
  border-radius: 10px;
  padding: 20px;
  background-color: #1c773e;
  color: #ffffff;
  box-shadow: 3px 3px 3px 3px #555555;
}

.custom_card_title {
  font-size: 60px;
}

.custom_card_link {
  color: #000000;
}

.custom_card_link,
.custom_card_address,
.custom_card_star,
.custom_card_reviews,
.custom_card_comment {
  font-size: 24px;
}

.custom_card_star {
}

.custom_card_reviews {
}

.custom_card_comment {
}
