/* Import Component CSS */
@import '../styles/header.css';
@import '../styles/footer.css';

@import url('https://fonts.googleapis.com/css2?family=Jua&family=Noto+Sans+KR:wght@400;700&display=swap');

/* remove browser style */
p,
button {
  margin: 0;
  border: 0;
  padding: 0;
}

button {
  color: black;
  background-color: white;
}

/* style for developer */

/* page style */
/* 
  size guide
  1. main target : 1920 x 1080
  2. sub target : 1536 x 864
*/
body {
  width: 100vw;
  height: 100vh;
  font-family: 'jua', sans-serif;
}

.upload_wrap {
  width: inherit;
  height: 84vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.upload_explain > p {
  font-size: 32px;
}

.myupload {
  width: 100%;
  max-width: 550px;
  padding: 30px;
  box-shadow: 0px 0px 3px 0px gray;
  text-align: center;
}

.myupload {
  background-color: #1c773e;
  /* color: #ffffff; */
}

.myupload > button {
  margin-top: 10px;
  text-align: center;
  color: #000000;
  background-color: #ffe259;
  box-shadow: 2px 2px 2px 2px #555555;
}

.form-control {
  font-size: 24px;
}

.upload_explain_strong {
  color: #f0816c;
}
