<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta
      http-equiv="X-UA-Compatible"
      content="ie=edge"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='styles/signin.css') }}"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <title>signUp page</title>
    <script>
      // function overlapId() {
      //     let inputId = $('#new-id').val()
      //
      //     $.ajax({
      //         type: "GET",
      //         url: "/overlapId",
      //         data: {},
      //         success: function (response) {
      //             let rows = response['users']
      //
      //             rows.forEach((user) => {
      //                 if (user.includes(inputId) === false) {
      //                     alert('사용 가능한 아이디입니다.')
      //                     return true
      //                 } else {
      //                     alert('이미 존재하는 아이디입니다. 다른 아이디를 입력해 주세요')
      //                     return false
      //                 }
      //             })
      //         }
      //     });
      // }

      // function overlapName() {
      //     let inputName = $('#new-name').val()
      //
      //     $.ajax({
      //         type: "GET",
      //         url: "/overlapName",
      //         data: {},
      //         success: function (response) {
      //             let rows = response['users']
      //
      //             rows.forEach((user) => {
      //                 if (user.includes(inputName) === false) {
      //                     alert('사용 가능한 닉네임입니다.')
      //                     return true
      //                 } else {
      //                     alert('이미 존재하는 닉네임입니다. 다른 닉네임을 입력해 주세요')
      //                     return false
      //                 }
      //             })
      //         }
      //     });
      // }

      function login() {
        let inputName = $('#floatingInput').val();

        $.ajax({
          type: 'POST',
          url: '/signin/',
          data: { name_give: inputName },
          success: function (response) {
            let msg = response['msg'];
            alert(msg);

            window.sessionStorage.setItem('nickname', response['nickname']);
            window.location.href = 'http://43.200.1.210/restaurant/';
          },
        });
      }
    </script>
  </head>
  <body>
    <header class="header">
      <a href="http://43.200.1.210">
        <h1>오늘 뭐 먹지?!</h1>
      </a>
      <div class="menu_div">
        <div>
          <span
            class="nickname"
            id="nickname"
          ></span>
        </div>
        <nav class="menu_nav">
          <ul class="menu_list">
            <li>
              <a href="http://43.200.1.210/restaurant/"> 맛집 보기 </a>
            </li>
            <li>
              <a href="http://43.200.1.210/restaurant/register/">
                맛집 등록하기
              </a>
            </li>
            <li>
              <a href="http://43.200.1.210/select/"> 맛집 랜덤 추천받기 </a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main class="signin_wrap">
      <div class="signin_explain">
        <p>오늘 뭐 먹지?! 서비스를 이용하시려면</p>
        <p>닉네임을 정해주세요!</p>
      </div>
      <div class="wrap">
        <h1>오늘 뭐 먹지?! 닉네임</h1>
        <div class="overlap sign-up-name">
          <div class="form-floating mb-3">
            <input
              type="email"
              class="form-control"
              id="floatingInput"
              placeholder="닉네임을 입력해주세요!"
            />
            <label for="floatingInput" ></label>
          </div>
          <!--        <button onclick="overlapName()" type="button" class="btn btn-dark">중복확인</button>-->
        </div>
        <button
          onclick="login()"
          type="button"
          class="btn btn-dark"
        >
          이걸로 할게요!
        </button>
      </div>
    </main>
    <footer class="footer">
      <p class="footer_copyright">
        Copyright &copy; 2022.
        <a href="https://github.com/MyungAe/A-Meal-of-Today">
          A-Meal-of-Today Team
        </a>
        . All right reserved.
      </p>
    </footer>
  </body>
</html>
